body{
    background-color: rgb(69, 62, 62);
    margin: 0;
    padding: 0;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#header{
    text-align: center;
    margin: 36px;
    font-size: 36px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 550;
    color: rgb(221, 209, 209);
}

#grid{
    height: 400px; 
    width: 400px;
    flex: none;
    /* margin: auto; */
    
    display: grid; 
    border: 20px solid rgb(31, 29, 29); 
    border-radius: 12px;
}

.pixel{
    background-color: white;
}

#tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    background-color: rgb(31, 29, 29);
    padding: 16px;
    border-radius: 12px;
}

#tools > button{
    background-color: transparent;
    border-style: none;
    border: 1px solid rgb(221, 209, 209);
    border-radius: 8px;
    padding: 4px 12px;
    color: rgb(221, 209, 209);
    font-size: 18px;
    font-weight: 500;
}

#tools > button.clicked{
    background-color: rgb(72, 66, 66);
    color: rgb(250, 246, 246);
    font-weight: 520;
    padding: 4px 12px;
}

#colorpicker{
    border: none;
    padding: 0;
    background-color: transparent;
    min-width: 70px;
    min-height: 32px;
}

#footer{
    text-align: center;
    width: 100vw;
    color: rgb(221, 209, 209);
    font-weight: 450;
    background-color:rgb(31, 29, 29);
    padding: 10px 0px;
    
}
